<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Planner - Login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    </head>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="txt_field">
                    <input type="text" name="email">
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password">
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Your Password?</div>
                <input type="submit" value="Login" id="sign_in">
                <div class="signup_link">
                    Don´t have an account? <a href="/signup">Sign Up</a>
                </div>
            </form>
        </div>
    </body>
</html>